@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14px;
  color: #232323;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@charset "UTF-8";:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #7987a1;
  --bs-gray-dark: #212a3a;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #cbd1db;
  --bs-gray-500: #aeb7c5;
  --bs-gray-600: #7987a1;
  --bs-gray-700: #41516c;
  --bs-gray-800: #212a3a;
  --bs-gray-900: #060c17;
  --bs-primary: #029e9d;
  --bs-secondary: #7987a1;
  --bs-success: #05a34a;
  --bs-info: #66d1d1;
  --bs-warning: #fbbc06;
  --bs-danger: #ff3366;
  --bs-light: #e9ecef;
  --bs-dark: #060c17;
  --bs-primary-rgb: 101, 113, 255;
  --bs-secondary-rgb: 121, 135, 161;
  --bs-success-rgb: 5, 163, 74;
  --bs-info-rgb: 102, 209, 209;
  --bs-warning-rgb: 251, 188, 6;
  --bs-danger-rgb: 255, 51, 102;
  --bs-light-rgb: 233, 236, 239;
  --bs-dark-rgb: 6, 12, 23;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg-rgb: 249, 250, 251;
  --bs-font-sans-serif: "Roboto", Helvetica, sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #232323;
  --bs-body-bg: #f9fafb
}

*,*::before,*::after {
  box-sizing: border-box
}

@media(prefers-reduced-motion:no-preference) {
  :root {
      scroll-behavior: smooth
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* table th,
td {
  padding: 20px 10px;
  text-align: start;
  border-bottom: 1px solid rgb(233, 230, 230);
}

tr:nth-child(odd) {
  background-color: #ffffff;
} */

.notification-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(28, 161, 121);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  margin-left: 11px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(43, 192, 147, 1);
  animation: pulse-green 1s infinite;
}
@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgb(43, 192, 147, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(43, 192, 147, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .notification-circle {
    top: 20px;
    margin-left: 10px;
  }
}
.bullet-list {
  list-style-type: circle;

  padding-left: 22px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.bullet-list li a:hover,
li:hover {
  color: #029e9d; /* Change text color on click */
}
.bullet-list li a {
  color: black; /* Change text color on click */
}
input[type="radio"] {
  width: 18px;
  height: 18px;
}
.content::-webkit-scrollbar {
  display: none;
}

th {
  position: sticky;
  top: 0;
  z-index: auto;
  background-color: white;  
}
.Table-container::-webkit-scrollbar {
  width: 3px;
  height: 3px; /* This sets the scaled height */
  transform: scaleY(0.5); /* Scale the entire scrollbar down */
}
.Table-container::-webkit-scrollbar-thumb {
  background-color: #949393; /* Color of the scrollbar thumb */
  /* Border radius of the scrollbar thumb */
}

.Table-container::-webkit-scrollbar-track {
  background-color: #e7e2e2; /* Color of the scrollbar track */
}
li {
  padding-left: 5px;
}
.active-page {
  background-color: hsl(180, 82%, 35%);
  color: white;
}

body {
  /* font-family: "Roboto", Helvetica, sans-serif; */
  font-size: 14px;
}

body::-webkit-scrollbar {
  display: none;
}
.nav-list {
  height: 28px;
  align-items: center;
  font-size: 14px;
}

.nav-list:hover {
  padding-left: 10px;
  transition-duration: 400ms;
  color: #11a4a3;
  list-style-type:disc;

}

.nav-button {
  height: 42px;
}
.nav-btn-boder {
  border-bottom: 0.5px dashed rgb(228, 225, 225);
} 

.button-div {
  padding-left: 8px;
}

.nav-ul {
  border-bottom: px solid rgb(228, 225, 225);
}
.list-type {
  padding: 0px 0px 9px 15px;
  list-style-type: circle !important;
}
.shadows {
  box-shadow: 0 0 10px 0 rgb(183 192 206/20%);
  border-radius: 10px;
}


table tr {
  border-bottom: 1px solid rgb(228, 225, 225);
  background-color: white;
}
table > tr > td {
  padding: 8px 25px;
  width: 131px;
  height: 59px;
  text-align: left;
}
table th {
  padding: 44px 25px 20px 10px;
  text-align: left;
  background-color: white;
  font-weight: 600;
  z-index: auto;
  background-color: white;
  white-space: nowrap;
  
}
tr:nth-child(even) {
  background-color: #fbfbfb !important;
}

.table, .datepicker table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #232323;
  --bs-table-striped-bg: #e9ecef;
  --bs-table-active-color: #232323;
  --bs-table-active-bg: #dee2e6;
  --bs-table-hover-color: #232323;
  --bs-table-hover-bg: #e9ecef;
  width: 100%;
  margin-bottom: 1rem;
  color: #232323;
  vertical-align: top;
  border-color: #e9ecef;
  white-space: nowrap;
}
.table > :not(caption) > * > *, .datepicker table > :not(caption) > * > * {
  padding: 0.85rem 0.85rem;
}
.table > tbody, .datepicker table > tbody {
  vertical-align: inherit;
}
.table > thead, .datepicker table > thead {
  vertical-align: bottom;
}
.table > :not(:first-child), .datepicker table > :not(:first-child) {
  border-top: 2px solid #e9ecef;
}

.table,.datepicker table {
  margin-bottom: 0
}

.table>:not(:last-child)>:last-child>*,.datepicker table>:not(:last-child)>:last-child>* {
  border-bottom-color: inherit
}

.table thead th,.datepicker table thead th {
  border-top: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #232323;
  padding-top: 50px;
}

.table thead th i,.datepicker table thead th i {
  margin-left: .325rem
}

.table td img,.datepicker table td img {
  width: 100%;
  border-radius: 5px
}
.table td img,.datepicker table td img {
  width: 39px !important;
  border-radius: 5px
}

@media only screen and (min-width: 375px) {
  .table td,
  th {
    padding: 8px 34px;
  }
}
@media only screen and (min-width: 425px) {
  .table td,
  th {
    padding: 8px 42px;
  }
}

@media only screen and (min-width: 768px) {
  .table td,
  th {
    padding: 8px 56px;
  }
}
@media only screen and (min-width: 1440px) {
  .table td,
  th {
    padding: 15px 15px;
  }
}

.add-candidate {
  outline: none;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 6px;
}
.Export-button {
  background-color: #029e9d !important;
  color: white !important;
  padding: 12px 18px !important;
  border-radius: 12px !important;
  display: flex !important;
  align-items: center;
  font-size: 15px;
}
.Export-button:hover {
  background-color: #fdc703 !important;
  transition-duration: 500ms;
}

.dialog-button:hover {
  background-color: #fdc703 !important;
  transition-duration: 500ms;
}

.dialoge-input {
  outline: none;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
}

.navbar-ul {
  list-style-type: circle;
}

.menu-bar {
  transition-duration: 100ms;
}

.notification-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(43, 192, 147);
  border-radius: 50%;
  position: absolute;
  top: 18px;
  margin-left: 11px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(43, 192, 147, 1);
  animation: pulse-green 1s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgb(43, 192, 147, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(43, 192, 147, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .notification-circle {
    top: 20px;
    margin-left: 10px;
  }
}
.navbar-list {
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 600;
}     


.navbar-icon {
  text-align: center;
  font-size: 14px;
  color: #6a6b6b;
}
.Navication-button {
  background-color: white !important;
  color: #029e9d !important;
  padding: 8px 15px !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center;
  border: 1px solid rgb(228, 225, 225);
}
.Navication-button:hover {
  background-color: #029e9d !important;
  color: white !important;
}
.Navication-button-1 {
  background-color: #029e9d !important;
  color: white !important;
  padding: 8px 15px !important;
  border-radius: 8px !important;
  display: flex !important;
  align-items: center;
  border: 1px solid rgb(228, 225, 225);
}

.anchor-tag:hover {
  color: #0d6efd;
}
.add-vacancy-form {
  box-shadow: 0 0 10px 0 rgb(183 192 206/20%);
  border-radius: 10px;
  background-color: white;
}
.action-buttons {
  display: flex;
  gap: 8px;
  color: #029e9d;
  justify-content: start;
  font-size: 20px;
}

.tb-icon{
  display: flex;
}

.tb-icon:hover {
  color: #0d6efd;
}

.custom-list {
  list-style-type: circle;
}
.notification-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(28, 161, 121);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  margin-left: 11px;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(43, 192, 147, 1);
  animation: pulse-green 1s infinite;
}
@keyframes pulse-green {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgb(43, 192, 147, 0.25);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(43, 192, 147, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .notification-circle {
    top: 20px;
    margin-left: 10px;
  }
}
.bullet-list {
  list-style-type: circle;
  padding-left: 20px;
}

.select{
  background-color: white !important;
  background: rgba(255,255,255) !important;
}

/* .dropdown-bg{
  background: transparent;
  -webkit-appearance: none;
  background-color: #000;

} */

/* .drop-option:hover{
  background-color:#05a34a !important

} */


@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);

.pagination-data{
  padding: 0;
  margin: 0;
}
.pagination-data li{
  list-style:none;
}
.table-filter-info{
  padding : 15px;
}
.thead-primary tr th {
    background-color: #5a8dee;
    border-color: #5a8dee;
    color: #fff;
}

.rc-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .rc-pagination {
    display: flex;
    align-items: center;
    justify-content: start;
}}
.rc-pagination-item,
.rc-pagination-prev, 
.rc-pagination-jump-prev, 
.rc-pagination-jump-next {
    margin-right: 8px;
}

.rc-pagination-total-text{
  margin-right: 12px;
  cursor: initial;
}

.rc-pagination-jump-next, 
.rc-pagination-jump-prev, 
.rc-pagination-next, 
.rc-pagination-prev {
    display: inline-block;
    min-width: 28px;
    height: 28px;
    color: rgba(0,0,0,.85);
    /* font-family: Arial; */
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s;
}
.rc-pagination-jump-next button, 
.rc-pagination-jump-prev button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #666;
}
.rc-pagination-jump-next button:after, 
.rc-pagination-jump-prev button:after {
    display: block;
    content: "•••";
}
.rc-pagination-item, 
.rc-pagination-prev, 
.rc-pagination-next, 
.rc-pagination-total-text {
    min-width: initial;
    height: auto;
    line-height: initial;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.rc-pagination-item a, 
.rc-pagination-item button, 
.rc-pagination-prev a, 
.rc-pagination-prev button, 
.rc-pagination-next a, 
.rc-pagination-next button,
.rc-pagination-total-text a, 
.rc-pagination-total-text button {
    padding: 6px 8px;
    height: auto;
    min-width: 32px;
    min-height: 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    color: #656f84 !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.rc-pagination-item.rc-pagination-item-active a, 
.rc-pagination-item.rc-pagination-item-active a:hover, 
.rc-pagination-prev.rc-pagination-item-active a, 
.rc-pagination-prev.rc-pagination-item-active a:hover, 
.rc-pagination-next.rc-pagination-item-active a, 
.rc-pagination-next.rc-pagination-item-active a:hover, 
.rc-pagination-total-text.rc-pagination-item-active a, 
.rc-pagination-total-text.rc-pagination-item-active a:hover {
    background-color: #029e9d;
    border-color: #029e9d;
    color: #ffffff !important;
}
.rc-pagination-item a:hover, 
.rc-pagination-item button:hover, 
.rc-pagination-prev a:hover, 
.rc-pagination-prev button:hover, 
.rc-pagination-next a:hover, 
.rc-pagination-next button:hover, 
.rc-pagination-total-text a:hover, 
.rc-pagination-total-text button:hover {
    background-color: #eceff5;
    border-color: #eceff5;
}
a:hover{
  color:#029e9d;
  text-decoration: none;
  
}

.hide-scroll {
  overflow-x: auto;
  max-width: 100%;
}

/* Styling the scrollbar track (background) */
.hide-scroll::-webkit-scrollbar {
  width: 8px; /* Set the width to 5px */
  height: 8px; /* Height of the horizontal scrollbar */

}

/* Styling the scrollbar thumb (the draggable part) */
.hide-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(235, 228, 228); /* Change to your preferred color */
  border: 2px solid rgb(235, 228, 228); /* Add a border to the thumb */
  border-radius: 3px; /* Rounded corners */
}

/* Optional: To style the table headers or data cells */
/* .scrolling-table th {
  background-color: #f0f0f0;
}

.scrolling-table td {
  border: 1px solid #ddd;
} */

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  height: 300px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.editor__container {
  margin: 0 auto;
  width: 100%;
  max-height: 400px;
  max-width: 700px;
  border: 1px solid #ddd;
}

.toolbar {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-family: "Georgia", serif;
}

.toolbar__controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.toolbar__button {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.toolbar__button--active {
  color: #5890ff;
}

.editor {
  padding: 10px;
  box-sizing: border-box;
  cursor: text;
  font-size: 16px;
}

.editor .public-DraftEditorPlaceholder-root,
.editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.editor .public-DraftEditor-content {
  min-height: 100px;
}

.editor--hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
}

.editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}
